body{
    font-family: 'Montserrat' ;
    margin: 0;
    padding: 0;
}

/* header open*/
header {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 50px;
}
.search input {
    height: 0%;
    border: none;
    position: relative;
    font-family: 'Montserrat';
    font-weight: 600;
    width: 60%;
}
input span {
    object-fit: contain;
    width: 10px;
    height: 10px;
}

header .verified {
    position: absolute;
    left: 14%;
    top: 53%;
}

header .searchIcon {
    position: absolute;
    left: 33%;
    top: 55%;
}
.profile span{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    padding-left: 10px;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile .nameImg img{
    border-radius: 100%;
    height: 30px;
    width: 30px;
}
.profile li{
    list-style: none;
    position: relative;
    padding-right: 30px;
    justify-content: center;
    align-items: center;
}
.cart span:first-child  {
    background: #fff;
    padding: 9px 14px;
    border-radius: 100%;
}

.cart span:first-child  a {
    color: #000;
    text-decoration: none;
}

.cart span:first-child:hover {
    background: #000;
    cursor: pointer;
}
.cart span:first-child:hover a {
    color: #fff;

}
/* header close*/

/*mainMenu opens*/
/* .banner{
    display: flex;
} */
#mainMenu{
    position: relative;
}
#mainMenu .nav-link{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
    border: none;
}
#mainMenu .nav-tabs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    position: relative;
    padding-bottom: 30px;
}
.banner .mainDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:  0;
    margin: 0;
}
.mainDiv .img{
    padding:  50px 0;
    margin: 0;
    text-align: center;
}
.mainDiv .imgOne{
    background-color: #f4e4cb;
    height: 56vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainDiv .imgTwo {
    background-color: #f4e4cb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58vh;
}
.mainDiv:nth-child(even){
    overflow: hidden;
    background-color:#e4d3b7; 
    
}
.mainDiv:nth-child(odd){
    overflow: hidden;
    background-color:#f4dfbf; 
}
.mainDiv h4{
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 600 !important;
}
.mainDiv h5{
    font-size: 13px;
    font-family: 'Montserrat';
    font-weight: 600 !important;
}
.mainDiv h6{
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 600 !important;
}
.mainDiv .details{
    padding: 20px;
}
.mainDiv .reviews{
    padding: 20px;
}
.mainDiv .detailOne{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.mainDiv .reviewOne{
    float: right;
}
.rockyFonts{
    position: relative;
    background-color: #42464a;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.rockyFonts .btnTheme {
    width: 50% !important;
    height: 10% !important;
    border: 3px solid;
    color: #fff !important;
    position: absolute;
    left: 26%;
    bottom: -1%;
}

.rockyFonts  .btnTheme:hover{
    color: #fff;
    text-decoration: none;
}

.rockyFonts .btnTheme::before{
    background: transparent;
    color: #ff0000;
   
}
.rockyFonts .btnTheme::after{
    background: transparent;
    color: red;  
}

.rockyFonts h2{
    font-size: 14px;
    letter-spacing: 10px;
    color: #798189;
}
.rockyFonts h3{
    font-family: 'Gambarino';
    font-size: 50px;
    color: #fff;
}
.rockyFonts h4{
    font-family: 'Gambarino';
    font-size: 20px;
    color: #fff;
    background-color: red;
    
}
.rockyFonts h5{
    font-size: 100px !important;
    color: #fff;
    font-family: 'Stardom' !important;
}

/* .mainDiv li:nth-child(3){
    overflow: hidden;
    background-color:#f4dfbf; 

} */
#mainMenu li{
    list-style: none;
}
#mainMenu a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}
.imgDivs {
    padding: 40px 0px;
    margin: calc(var(--bs-gutter-x) * .5) 0px;
    position: relative;
}
.imgDivs:nth-child(odd) {
    background-color: #f4e4cb;
    overflow: hidden;
   
}
  
.imgDivs:nth-child(even) {
    background-color: #cac6c0;
    overflow: hidden;
  
}

.imgDivs img{
    /* width: 100%; */
    /* min-height:300px; */
    padding: 60px 0px;
}
.imgDivs h4{
    font-size: 15px;
    padding-left: 40px;
    font-family: 'Montserrat';
    font-weight: 600 !important;
}
.imgDivs h5{
    font-size: 13px;
    padding-left: 40px;
    font-family: 'Montserrat';
    font-weight: 600 !important;
}
.imgDivs h6{
    font-size: 14px;
    padding-left: 40px;
    font-family: 'Montserrat';
    font-weight: 600 !important;
}
.imgDivs .shoppingIcon {
    position: absolute;
    right: 30px;
    bottom: 35px;
    background: #fff;
    padding: 9px 14px;
    border-radius: 100%;
}

.imgDivs .shoppingIcon a {
    color: #000;
}

.imgDivs .shoppingIcon:hover {
    background: #000;
    cursor: pointer;
}
.imgDivs .shoppingIcon:hover a {
    color: #fff;

}

/* .girlNeckList div{
    width: 300px;
    height: 200px;
}
.tab-content .girlColor{
    background-color: #f4dfbf;
}
.tab-content .pointedColor{
    background-color: #f4e4cb;
}
.tab-content .pinkColor{
    background-color: #e4d3b7;
}
.tab-content .earingTop{
    background-color: #f4e4cb;
}
.tab-content .earingBottom{
    background-color: #f4debe;
} */
/* .tab-content .girlNeck{
    object-fit: contain;
    width: 360px;
    height: 570px;
}
.tab-content .floatLeft,.floatRight,p{
    position: relative;
    padding: 20px;
}
.tab-content .pointedNecklace{
    object-fit: contain;
    width: 340px;
    height: 400px;
}
.tab-content .pointedList{
    display: flex;
    justify-content: space-between;
} */
/*btnTheme in tab-content*/



/* .tab-content .mainLogo{
    object-fit: contain;
    width: 260px;
    height: 135px;
} */
/*view all*/
.btnTheme{
    font-family: 'Montserrat';
    letter-spacing: 6px;
    font-weight: bold;
    border: 3px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #000;
    right: 44%;
    bottom: 0%;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    width: 12%;
    height: 6%;
    padding: 20px;
    margin-bottom: 40px;
    text-align:center;
}
.btnTheme:hover{
    color: #000;
    background: #000(240, 166, 166);
}
.btnTheme::before{
    position: absolute;
    left: -8px;
    padding: 3px 0px;
    top: 34%;
    color: #ff0000;
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
    content: "\f45c";
}
.btnTheme::after{
    position: absolute;
    content: '\f45c';
    right: -15px;
    color: red;
    padding: 2px 0px;
    top: 34%;
    font-weight: 400;
    font-family: "Font Awesome 6 Free";
    /* margin-top: 2px; */
}
.btnTheme:hover::before{

    background:transparent;
}
.btnTheme:hover::after{
  
    background:transparent;
}
/*view all*/

/* .tab-content .pinkEarings{
    object-fit: contain;
    width: 240px;
    height: 245px;
}

.tab-content .earings{
    object-fit: contain;
    width: 240px;
    height: 170px;
} */


/* .girlNeckList .floatLeft{
    float: left;
}
.girlNeckList .floatRight{
    display: inline-block;
    float: right;
}
.girlNeckList p{
    display: inline-block;
    width: 100%;
}
.girlNeckList li{
    
    position: relative;
    padding: 20px;
} */
/*mainMenu closed*/

/*section three tabs opens*/
#tabs{
    position: relative;
    padding: 200px 0;
}
/*findout heading*/
.findOut{
    text-align: center;
}
.findOut h4{
    font-size: 14px;
    letter-spacing: 10px;
    color: #798189;
}
.findOut h2{
    font-size: 45px;
    font-family: 'Gambarino';
}
/*findout heading closed*/
#tabs .nav-link{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
    border: none;
}
#tabs .nav-tabs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    position: relative;
    padding-bottom: 30px;
}

/* #tabs .tab-content{
    display: flex;
} */


/* .imgDivs .loveBangle{
    object-fit: contain;
    width:240px;
    height:100x;
}
.imgDivs .watch{
    object-fit: contain;
    width:190px;
    height:210px;
}
.imgDivs .pinkEarings{
    object-fit: contain;
    width:245px;
    height:120x;
}
.imgDivs .blackNecklace{
    object-fit: contain;
    width:135px;
    height:255px;
}
.imgDivs .earings{
    object-fit: contain;
    width:240px;
    height:170x;
}
.imgDivs .pointed{
    object-fit: contain;
    width:220px;
    height:260px;
} */

/* .tabsList img{
    position: relative;
    padding: 50px 0;
}
.tabsList .floatRight {
    float: right;
    margin-top: -50px;
    position: relative;
} */
/*tabs closed*/

/*shop gold opens*/
#shopGold{
    position: relative;
}
.shopGoldBack{
    background: url('images/shopGoldBack.png') center center;
    height: 80vh;
    background-attachment: fixed;
    background-size: contain;
}   
.shopGoldBack .findOut{
    padding-top: 70px;
}
.shopGoldBack h2{
    color: white;
}
.goldRow{
    font-family: 'Montserrat';
}
.goldList{
    position: absolute;
    top: 200px;
}
.goldListTwo {
    position: absolute;
    top: 200px;
}
/* .goldList .imgDivs{
    margin:0 10px;
    
}  */
 
/* .goldList div:nth-child(odd){
    background-color: #e3dacd;
}
.goldList div:nth-child(even){
    background-color: #f4e4cb;
} */
.goldList h4{
    font-size: 14px;
    font-weight: 600;
}
.goldList h5{
    font-size: 13px;
    font-weight: 600;
}
.goldList h6{
    font-size: 10px;
    font-weight: 600;
}
/* .floatLeft h6{
    float: left;
} */




/* .goldList .cartIcon{
   background-color: #fff;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items:center; 
   width: 30px;
   height: 30px;
   
} */


/*shop gold closed*/

/*testimonials*/
#testimonials{
    position: relative;
    padding: 30px;
}
#testimonials .truck:nth-child(odd){
    text-align: center;
    background-color: #b4665c;
    color: white;
    font-family: 'Montserrat';
}
#testimonials .truck:nth-child(even){
    text-align: center;
    background-color: #8b353a;
    color: white;
    font-family: 'Montserrat';
}
#testimonials .truck{
    position: relative;
    padding: 30px;
}


/*testimonial closed*/


/*shop by color*/
#shopByColor{
    position: relative;
    padding: 80px 0;
}
/* #shopByColor .row{
    position: relative;
} */
#shopByColor .findOut{
    position: relative;
    padding: 50px 0;
}
.colors small{
    display: block;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 100%;
    position: relative;
    margin-bottom: 10px;
}
.colors large{
    display: block;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 100%;
}
.colors medium{
    display: block;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 100%;
    position: relative;
    margin-left: 185px;
}
.heading h4 {
    font-size: 15px;
    letter-spacing: 6px;
    text-align: center;
    
}
.circle .btns{
    margin: 30px 90px;
    position: relative;
    width: 100%;
}  
 
.circle .btnTheme{
    font-family: 'Montserrat';
    letter-spacing: 2px;
    font-weight: bold;
    border: 3px solid #000;
    color: #000;
    position: relative;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    /* padding: 20px; 
    margin-bottom: 20px;  */
}
.circle .btnTheme:hover{
    color: #000;
    background: #000(240, 166, 166);
}
.circle .btnTheme::before{
    position: absolute;
    left: -8px;
    padding: 3px 0px;
    top: 30%;
    color: #ff0000;
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
    content: "\f45c";
}
.circle .btnTheme::after{
    position: absolute;
    content: '\f45c';
    right: -10px;
    color: red;
    padding: 2px 0px;
    top: 30%;
    font-weight: 400;
    font-family: "Font Awesome 6 Free";
    /* margin-top: 2px; */
}
/* .btns .btnTheme{
    text-decoration: none;
    border: 2px solid #000;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 600;
    padding: 20px;
}
.btns .btnTheme::before {
    position: absolute;
    left: -6px;
    padding: 3px 0px;
    top: 15%;
    color: #ff0000;
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
    content: "\f45c";
}
.btns .btnTheme::after {
    position: absolute;
    content: '\f45c';
    right: -8px;
    color: red;
    padding: 2px 0px;
    top: 16%;
    font-weight: 400;
    font-family: "Font Awesome 6 Free";
     margin-top: 2px; 
}
*/ 
.spanImages{
    display: flex;
}
.spanImages span:first-child{
    margin-right: 5px;
}


/*shop by color closed*/


/*Gallery Opens*/
.gallery{
    position: relative;
    padding: 30px 0;
    font-family: 'Montserrat';
}
.gallRow{
    position: relative;
}
.gallery .about {
    background-color: #ecd5b6;
    text-align: center;
    position: relative;
    padding: 40px;
    width: 670px;
    height: 400px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.about h2{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat';
}
.about p{
    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat';
}
.about .btn{
    background-color: black;
    color: white;
    font-size: 14px;
    font-family: 'Montserrat';
}
.gallery .armlet{
    width: 400px;
    height: 530px;
    margin: 0;
    padding: 0;
}
.gallery .greenLeaf{
    width: 200px;
    height: 400px;
    margin: 0;
    padding: 0;
}
.pinkShirt {
    position: absolute;
    top: 75%;
    right: 45%;
    display: flex;
}
.pinkShirt .pinky{
    background-color: #e2d9cc;
    width: 300px !important;
    height: 269px !important;
}
.pinkShirt .colorBox{
    font-family: 'Montserrat';
    font-weight: 600;
    background-color: #e2d9cc;
    width: 230px ;
    height: 269px ;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start;
    
}

/*Gallery Closed*/

/*newsLetters*/
#newsLetters{
    position: relative;
    padding-top: 200px;
    font-family: 'Montserrat';
}
.rockyLogo{
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}
.rockyLogo h2{
    font-size: 45px;
    font-family: 'Montserrat';
    font-weight: 700;
}
.rockyLogo p{
    font-family: 'Montserrat';
    font-weight: 600;
}
#newsLetters form{
    overflow: hidden;
}
/* .emailInput:hover button{
    transform: translateY(0%) translateX(-196%);
   transition: all 1s ease;
  
} */
/* .emailInput:hover, -webkit-input-placeholder{
    transform: translateX(60%);
   transition: all 1s ease;
  
} */

.rockyLogo input{
    
    border: 1px solid #ebebeb;
    border-radius: 20px;
    padding:10px 20px;
    width: 30%;
    color: #b1afaf;
    font-weight: 600;
}
.rockyLogo button{
    background-color: black;
    color: white;
    font-weight: 600;
    position: absolute;
    padding: 10px 0px;
    right: 35%;
    width: 10%;
    border: none;
    border-radius: 20px;
}
/*newsLetters closed*/


/*instagram*/

#instagram .dresses{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dresses img {
    position: relative;
    object-fit: contain;
    width: 200px;
    height: 200px;
}
.instaHashtag{
    background-color: #8b353a;  
    min-height: 259px;
  
}

.spans i{
    border-radius: 100%;
    color: white;
}
.instaHashtag a{
    color: white;
    text-decoration: none;
    padding-left: 20px;
    display: block;
    position: relative;
}
.instaHashtag i{
   padding:20px 0;
}
.instaHashtag a:hover{
    color: white;
}
.instaHashtag .fa-brands{
    font-size: 45px;
}
.instaHashtag h4{
    font-size: 15px;
}
/*instagram section closed*/

/*navbar opens*/

#navbar{
    position: relative;
}
.navbarMenu{
    border-bottom: 1px solid #e9e4e4;   
}
.navbar-brand{
    font-weight: 700;
}
.navbar-nav{
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 600;
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items:center;
}
#navbar .nav-link{
    margin-left: 50px;
    font-size: 14px;
}
.nav-link .search{
    position: relative;
}
.search .verifiedBottom {
    object-fit: contain;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 30%;
}

.search p { 
position: relative;
    
padding: 12px 30px 0;
}
.searchIcon i{
    position: absolute;
    top: 45%;
    right: 1%;
}
.nav-link .fa-instagram{
    /* position: relative; */
    padding-left: -10px;
}
/*navbar closed*/

/*footer*/
footer{
    position: relative;
    padding-top: 20px;
}
.footerRow{
    font-family: 'Montserrat';
    font-weight: 500;
}
.copyrights ul{
    display: flex;
}
.footerRow li{
    font-size: 14px;
    position: relative;
    list-style: none;
    margin-left: -40px;
    padding-right: 80px;
}
.footerRow a{
    text-decoration: none;
    color: black;
}
.footerRow a:hover{
    color: #8b353a;
}
.socials ul{
    display: flex;
    position: absolute;
    top: 34%;
    right: 15%;
}


